.text-center{
  text-align: center;
}

table{
  margin : 25px auto;
  border-spacing: 10px;
}

td{
  text-align: center;
}

td input{
  width: 50%;
}

.btn-save{
  padding: 5px 10px;
  color: white;
  background: black;
  border: 0;
}